doctype html
html(lang="en")
  head
    title= pageTitle
    link(href='bundle.css', rel='stylesheet', type='text/css')
  body.Body
    h1 Audit for 
      code= pageTitle
    h2 #{audit.collisions.length} collisions
    each collision in audit.collisions
      h3 Distance of #{Math.round(collision.distance * 100) / 100}
      ul.List
        each color in collision.colors
          li.Color
            span.Color-block(style="background-color:#{color.rgb}")
            strong.Color-value= color.rgb
            span.Color-count= color.lines.length
    h2 #{audit.stats.total} colors used
    ul.List
      each color in colorsByCount
        li.Color
          span.Color-block(style="background-color:#{color.value}")
          strong.Color-value= color.value
          span.Color-count= color.count
