doctype html
html(lang="en")
  head
    title= pageTitle
    link(href='bundle.css', rel='stylesheet', type='text/css')
  body.Body
    h1 Audit for 
      code= pageTitle
    h2 #{audit.stats.total} colors used
    ul.List
      each color in colorsByCount
        li.Color
          span.Color-block(style="background-color:#{color.value}")
          strong.Color-value= color.value
          span.Color-count= color.count
